html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    scroll-behavior: smooth;
    background-color: black;
    font-family: LeagueSpartan, monospace;
}

body {
    background: linear-gradient(#000, #151515);
    width: 100%;
    height: 100%;
}

/*canvas {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/